@font-face {
    font-family: airstrike;
    src: url(fonts/airstrike.ttf);
}
@font-face {
    font-family: airstrike3d;
    src: url(fonts/airstrike3d.ttf);
}
@font-face {
    font-family: airstrikeacad;
    src: url(fonts/airstrikeacad.ttf);
}
@font-face {
    font-family: airstrikeb3d;
    src: url(fonts/airstrikeb3d.ttf);
}
@font-face {
    font-family: airstrikebold;
    src: url(fonts/airstrikebold.ttf);
}
@font-face {
    font-family: airstrikebullet;
    src: url(fonts/airstrikebullet.ttf);
}
@font-face {
    font-family: airstrikechrome;
    src: url(fonts/airstrikechrome.ttf);
}
@font-face {
    font-family: airstrikecond;
    src: url(fonts/airstrikecond.ttf);
}
@font-face {
    font-family: airstrikeexpand;
    src: url(fonts/airstrikeexpand.ttf);
}
@font-face {
    font-family: airstrikegrad;
    src: url(fonts/airstrikegrad.ttf);
}
@font-face {
    font-family: airstrikehalf;
    src: url(fonts/airstrikehalf.ttf);
}
@font-face {
    font-family: airstrikelaser;
    src: url(fonts/airstrikelaser.ttf);
}
@font-face {
    font-family: airstrikeout;
    src: url(fonts/airstrikeout.ttf);
}
@font-face {
    font-family: airstrikeplat;
    src: url(fonts/airstrikeplat.ttf);
}